<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weyegram</title>
    <link rel="icon" href="./media/Logo.svg">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <section>
        <header>
            <img class="logo" src="./media/Logo(4).svg" alt="">
            <h1 class="logo-title">Weyegram</h1>
        </header>
        <div class="content">
            <div class="header">
                <h2>Email Verification</h2>
            </div>
            <div class="main">
                <div>
                    <h3>
                        Hi there,
                        We noticed that an account was recently created using this email address on Weyegram.
                        If you created this account, no further action is needed — welcome aboard!
                        If you did not sign up for Weyegram, you can safely ignore this message. 
                    </h3>
                </div>
                <div class="chat-box">
                    <div class="right">
                        <p>Hey Where's my code?</p>
                    </div >
                    <div class="left">
                        <p>Right here! Your code is <b>5037</b>!</p>
                    </div>
                </div>
                <div class="fotter">
                    <p>
                        Thanks, The Weyegram Team.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>